extends ../_layouts/layout

block title
    title Main Page

block content
    .wrapper
        .maincontent
            .container
                .result
                    h1.result__title Генератор водных знаков
                    .result__imagebox
                        img(src="img/photo/photo1.jpg")#bg__img.result__imagebox-image
                        .drag#watermark
                            img(src="http://lorempixel.com/100/100/nature/")#drag__img.drug__watermark
                .controls
                    h3.controls__title Настройки
                    .controls__file-inputs-group
                        label.controls__file-title Исходное изображение
                            .controls__file
                                input.controls__file-input(
                                type="file"
                                name="source-image"
                                placeholder="Загрузите изображение"
                                id="source-image"
                                )
                                span#file_name.controls__file-input--fake Загрузите изображение
                                button.controls__file-input--btn Загрузить
                    .controls__file-inputs-group
                        label.controls__file-title Водяной знак
                            .controls__file
                                input.controls__file-input(
                                type="file"
                                name="watermark-image"
                                placeholder="Загрузите изображение"
                                id="watermark-image"
                                )
                                span#file_name.controls__file-input--fake Загрузите изображение
                                button.controls__file-input--btn Загрузить
                    .controls__hr
                    label#opacity-field.controls__label Прозрачность
                        input(type="range")#opacity
                        p#opacity-val
                    .coord-table
                        h3.coord-table-title
                            table
                                tr
                                    td.table__name
                                    td.table__val
                                tr
                                    td.table__name
                                    td.table__val
                    .position
                        h3.position__title
                        .pos__pad
                            ul.position__list.clearfix
                                each val in ['lt', 'ct', 'rt', 'lm', 'cm', 'cm', 'rm', 'lb', 'cb', 'rb']
                                    li.position__list-item
                                        a(href="" id=val).position__list-item-link