extends ../_layouts/layout

block title
    title Main Page

block content
    .wrapper
        .maincontent
            .container
                section.result
                    h1.result__title Генератор водяных знаков
                    .result__imagebox#result-box
                        #bg__wrapper
                            img(src="http://lorempixel.com/900/700/nature/8")#bg__img.result__imagebox-image
                        .drag#watermark
                            img(src="http://lorempixel.com/100/100/nature/9")#drag__img.drug__watermark
                section.controls
                    h3.controls__title Настройка
                    form(
                    action=""
                    method="post"
                    enctype="multipart/form-data"
                    )
                        fieldset.noborder
                            .controls__inputs-group
                                label.controls__file-title Исходное изображение
                                    .controls__file#bg-img-control
                                        input.controls__file-input(
                                        type="file"
                                        name="img-source"
                                        placeholder="Загрузите изображение"
                                        id="img-source"
                                        )
                                        span#file_name.controls__file-input--fake Загрузите изображение
                                        button#but-bg-load.controls__file-input--btn Загрузить
                                        span.error text text
                    form(
                    action=""
                    method="post"
                    enctype="multipart/form-data"
                    )
                        fieldset
                            .controls__inputs-group
                                label.controls__file-title Водяной знак
                                    .controls__file#wm-img-control
                                        input.controls__file-input(
                                        type="file"
                                        name="img-watermark"
                                        placeholder="Загрузите изображение"
                                        id="img-watermark"
                                        )
                                        span#file_name.controls__file-input--fake Загрузите изображение
                                        button#but-wm-load.controls__file-input--btn Загрузить
                                        span.error error
                    form
                        fieldset
                            .controls__inputs-group
                                .controls__switch
                                    label.controls__switch-title Положение
                                        .controls__switch-group
                                            a(href="#four").four.controls__switch-group-but#but-four 4 watermarks
                                            a(href="#one").one.controls__switch-group-but.active#but-one 1 watermark
                                .position__four-watermark.clearfix#four
                                    .four-watermark__wrapper
                                        .margin-line.horizontal#h-margin-line
                                        .margin-line.vertical#v-margin-line
                                        .four-watermark__table
                                            .four-watermark__row
                                                each val in ['lt', 'ct', 'rt']
                                                    .four-watermark__col
                                                        a(href="" id=val).four-watermark__col-link
                                            .four-watermark__row
                                                each val in['lm', 'cm', 'rm']
                                                    .four-watermark__col
                                                        a(href="" id=val).four-watermark__col-link
                                            .four-watermark__row
                                                each val in['lb', 'cb', 'rb']
                                                    .four-watermark__col
                                                        a(href="" id=val).four-watermark__col-link
                                    .margin__property
                                        .margin__property-block
                                            span.margin__property-name &nbsp;&#8597;
                                            input(type="text" class="margin__property-input" name="x-margin")#h-margin-val
                                            .margin__property-control
                                                a.margin__property-btn.plus#h-margin-plus
                                                a.margin__property-btn.minus#h-margin-minus
                                        .margin__property-block
                                            span.margin__property-name &#8596;
                                            input(type="text" class="margin__property-input" name="y-margin")#v-margin-val
                                            .margin__property-control
                                                a.margin__property-btn.plus#v-margin-plus
                                                a.margin__property-btn.minus#v-margin-minus
                                .position__one-watermark.clearfix#one
                                    .one-watermark__wrapper
                                        .one-watermark__table
                                            .one-watermark__row
                                                each val in ['lt', 'ct', 'rt']
                                                    .one-watermark__col
                                                        a(href="" id=val).one-watermark__col-link
                                            .one-watermark__row
                                                each val in['lm', 'cm', 'rm']
                                                    .one-watermark__col
                                                        a(href="" id=val).one-watermark__col-link
                                            .one-watermark__row
                                                each val in['lb', 'cb', 'rb']
                                                    .one-watermark__col
                                                        a(href="" id=val).one-watermark__col-link
                                    .coordinate__property
                                        .coordinate__property-block
                                            span.coordinate__property-name X
                                            input(type="text" id="x-val" class="coordinate__property-input" name="x" value="0")
                                            .coordinate__property-control
                                                a.coordinate__property-btn.plus
                                                a.coordinate__property-btn.minus
                                        .coordinate__property-block
                                            span.coordinate__property-name Y
                                            input(type="text" id="y-val" class="coordinate__property-input" name="y" value="0")
                                            .coordinate__property-control
                                                a.coordinate__property-btn.plus
                                                a.coordinate__property-btn.minus
                        fieldset
                            .slider__box
                                label#opacity-field.slider__box-title Прозрачность
                                div.slider__range
                                input(id="opacity" type="hidden")
                        fieldset.noborder
                            .controls__inputs-group
                                button(type="reset" id="but-reset").button--reset Сброс
                                button(type="submit" id="but-send").button--submit Скачать